import(survival)
importFrom("graphics", "abline", "legend", "lines", "plot")
importFrom("stats", "complete.cases", "median", "pchisq", "qnorm", "rbinom", "relevel", "rnorm", "rpois", "rweibull")

export("kin.cohort", "kc.moments", "kc.marginal", "kc.simul", "sample.caco")

S3method("print", "kin.cohort")
S3method("print", "kin.cohort.boot")
S3method("plot", "kin.cohort")
S3method("plot", "kin.cohort.boot")
S3method("summary", "kin.cohort.sample")
